@page
@model ProyectoGSA.App.Frontend.ListEstudiantesModel
@{
}

<h1>Listado de Estudiantes</h1>

<table class="table">
    <thead>
        <tr>
          <th>Id</th> 
          <th>Nombres</th> 
          <th>Apellidos</th> 
          <th>Dirección</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var estudiante in Model.estudiantes)
        {
           <tr>
               <td>@estudiante.id</td> 
               <td>@estudiante.nombres</td> 
               <td>@estudiante.apellidos</td> 
               <td>@estudiante.direccion</td> 
               <td>
                    <a class="btn btn-primary table-btn" asp-page="./DetailsEstudiantes" asp-route-estudianteId="@estudiante.id">
                        <i class="fas fa-info-circle fa-lg">Detalles</i>
                    </a>
                    <a class="btn btn-primary table-btn" asp-page="./EditEstudiantes" asp-route-estudianteId="@estudiante.id">
                        <i class="fas fa-address-book fa-lg" aria-hidden="true">Editar</i>
                    </a>
               </td>
           </tr> 
        }
    </tbody>
</table>
<a asp-page="./EditEstudiantes" class="btn btn-primary">Nuevo Estudiante</a>
